.super-mario {
    width: 200px;
    position: absolute;
    z-index: 1;
  }
  
  .goomba {
    width: 100px;
    position: absolute;
    top: 370px;
    left: 70px;
    z-index: 2;

  }
  
  .baloon {
    position: absolute;
    top: 150px;
    left: 250px;
    z-index: 4
    ;
  }
  
  .speach {
    font-size: 25px;
    position: absolute;
    top: 190px;
    left: 270px;
    z-index: 5;
  }
  
  .bowser {
    width: 200px;
    position: absolute;
    top: 250px;
    left: 550px;
    z-index: 3;
  }